<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Budgeter Signin</title>
  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
              <div class="navbar-header" >
                  <a class="navbar-brand" href="#">Budgeter</a>
              </div>
        </div>
      </nav>

      <div class="loginContainer">
      	<%= form_tag '/login', class: 'form-signin loginForm' do %>
          <% if flash[:error] %>
            <div class="alert alert-danger" style="margin-top:10px"><%= flash[:error] %></div>
          <% end %>
          <h2 class="form-signin-heading">Sign in</h2><br>
          <label for="username" class="sr-only">Username</label>
          <%= text_field_tag 'userName', nil, class: "form-control", placeholder: "Username" %>
          <label for="inputPassword" class="sr-only">Password</label><br>
          <%= password_field_tag 'password', nil, class: "form-control", placeholder: "Password" %>
		<br>
          <button class="btn btn-lg btn-block" style="background-color: #388E3C; color: #fff" type="submit">Sign in</button>
        <% end %>
      </div>

    </div> <!-- /container -->
  </body>
</html>
