<p>
  <strong>Name:</strong>
  <%= @fund.name %>
</p>
 
<p>
  <strong>Amount:</strong>
  <%= @fund.amount %>
</p>

<p>
  <strong>Color:</strong>
  <%= @fund.color %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @fund.iconUrl %>
</p>