<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        
    <div class="container-fluid">
        <div class="navbar-header" >
            
            <a class="navbar-brand brand-desktop" href="/overview/index">Budgeter</a>
            <span class="navbar-brand brand-mobile"><%=params[:controller].capitalize%></span>
            <span id="sessionItems" style="color: #FFF; float: right; font-size: 18px; position: fixed; right: 20px; top: 11px; "> 
                <i class="fa fa-user" style="color: #FFF"></i> <%= session[:username] %>
                <a class="navbar-logout" href="/logout" style="text-decoration: none; color: #fff"><i class="fa fa-sign-out" style="color: #FFF; margin-left: 40px"></i> Logout</a>
            </span>
        </div>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse" style="background-color: #f5f5f5;">
        <ul class="nav navbar-nav side-nav" style="margin-top: 0px">
            <li <% if params[:controller] == "overview" %> class="active" <% end %> ><a href="/overview/index"><i class="fa fa-fw fa-bar-chart"></i> Overview</a></li>
            <li <% if params[:controller] == "funds" %> class="active" <% end %> ><a href="/funds/index"><i class="fa fa-fw fa-envelope"></i> Funds</a></li>
            <li <% if params[:controller] == "transactions" %> class="active" <% end %> ><a href="/transactions/index"><i class="fa fa-fw fa-credit-card"></i> Transactions</a></li>
            <li <% if params[:controller] == "incomes" %> class="active" <% end %> ><a href="/incomes/index"><i class="fa fa-fw fa-usd"></i> Incomes</a></li>
            <% if @current_user.admin %>
            <li <% if params[:controller] == "users" %> class="active" <% end %> ><a href="/users/index"><i class="fa fa-fw fa-users"></i> Users</a></li>
            <% end %>

            <% if params[:controller] == "overview" %> <li style="border-top: 2px solid #388E3C"><a href="/transactions/new"><i class="fa fa-fw fa-plus"></i> Add Transaction </a></li><% end %>
            <% if params[:controller] == "funds" %> <li style="border-top: 2px solid #388E3C"><a href="/funds/new"><i class="fa fa-fw fa-plus"></i> Add Fund </a></li><% end %>
            <% if params[:controller] == "transactions" %> <li style="border-top: 2px solid #388E3C"><a href="/transactions/new"><i class="fa fa-fw fa-plus"></i> Add Transaction </a></li><% end %>
            <% if params[:controller] == "incomes" %> <li style="border-top: 2px solid #388E3C"><a href="/incomes/new"><i class="fa fa-fw fa-plus"></i> Add Income </a></li><% end %>
            <% if params[:controller] == "users" %> <li style="border-top: 2px solid #388E3C"><a href="/users/new"><i class="fa fa-fw fa-plus"></i> Add User </a></li><% end %>
        </ul>
    </div>

</nav>